.verse {
  list-style-position: outside;
  margin-left: 20px;
  padding-left: 20px;
}
.verse li {
  padding-bottom: 16px;
}
.pageheader {
  font-weight: bold;
  font-size: 15pt;
}
.paragraphheader {
  font-weight: bold;
}